.imgItems-Landscape {
    width: 936px;
    height: 694px;
}

.imgItems-Portrait {
    height: 936px;
    width: 694px;
}

.projects {
    display: block;
    margin: auto;
}

.imgSize {
    width: 250px;
    height: 250px;
}

.left {
    float: left;
}

.right {
    float: right;
}