.imgItems-Landscape {
    width: 936px;
    height: 694px;
}

.imgItems-Portrait {
    height: 936px;
    width: 694px;
}


/* -- Brand -- */

.brand {
    width: 32px;
    height: 32px;
}


/* -- Home Page -- */

.projects {
    display: block;
    margin: auto;
}

.imgSize {
    width: 250px;
    height: 250px;
}

.left {
    float: left;
}

.right {
    float: right;
}


/* Framework correction */

.row {
    margin-left: 0px;
    margin-right: 0px;
}