.imgItems-Landscape {
    width: 936px;
    height: 694px;
}

.imgItems-Portrait {
    height: 936px;
    width: 694px;
}

.projects {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}